.example {
    position: relative;
}

.example .isotope-item {
    width: 300px;
    transition: 0.4s all ease;
    float: left;
    margin: 0 auto;
    overflow: visible;
}

.panel .panel-body {
    overflow: scroll;
}

.panel-small .panel-body {
    height: 400px;
}

div.ajax-loader-container {
    width: 24px;
    height: 24px;
    margin: 0 auto;
    display: none;
}

img.ajax-loader {
    display: block;
    margin: 20px;
}